<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    
    <script src="/pixel.js/polyfills.js"></script>
    <script src="/pixel.js/pixel.js"></script>
    <script src="/pixel.js/asset.js"></script>
    <script src="/pixel.js/engine.js"></script>
    <script src="/pixel.js/sprite.js"></script>
    <script src="/pixel.js/entity.js"></script>
    <script src="/pixel.js/layer.js"></script>
    <script src="/pixel.js/sprite_sheet.js"></script>
    <script src="/pixel.js/animated_sprite.js"></script>
    <script src="/pixel.js/tile.js"></script>
    <script src="/pixel.js/fps_counter.js"></script>
    <script src="/pixel.js/player.js"></script>
    
    <script type="text/javascript">
        document.onreadystatechange = function () {
            if (document.readyState == "complete") {
                var game = new PixelJS.Engine();
                
                game.init({
                    container: 'pixeljs',
                    width: 800,
                    height: 600
                });
                
                game.maxDeltaTime = 33;                
                
                var backgroundLayer = game.createLayer("background");
                var playerLayer = game.createLayer("players");
                
                var player = new PixelJS.Player();
                player.addToLayer(playerLayer);
                player.pos = { x: 200, y: 300 };
                player.size = { width: 32, height: 32 };
                player.velocity = { x: 100, y: 100 };
                player.asset = new PixelJS.AnimatedSprite();
                player.asset.load({ 
                    name: 'char112.png', 
                    frames: 3, 
                    rows: 4,
                    speed: 100,
                    defaultFrame: 1,
                    transparencyKey: { r: 0, g: 132, b: 255 } 
                });
                
                playerLayer.registerCollidable(player);
                player.onColide = function(collidable) {
                    console.log("Colliding!");
                };
                
                var grass = backgroundLayer.createEntity();
                grass.pos = { x: 0, y: 0 };
                grass.asset = new PixelJS.Tile();
                grass.asset.load({
                    name: 'grass_generic.png',
                    size: { 
                        width: 800, 
                        height: 600 
                    },
                    callback: function () { 
                        
                        var fence = backgroundLayer.createEntity();
                        fence.pos = { x: 0, y: 408 };
                        fence.size = { width: 200, height: 32 };
                        fence.asset = new PixelJS.Tile();
                        fence.asset.load({
                            name: 'grass_fencing.png',
                            size: fence.size,
                            callback: function () { 
                                backgroundLayer.registerCollidable(fence);
                                //while (!fence.asset._loaded || !grass.asset._loaded) {
                                    backgroundLayer.static = true;
                                //}
                                
                                game.run(function (elapsedTime, dt) {   
                                });
                            }
                        });
                    }
                });
                
            }
        }
    </script>
    <style>
        .scene-layer {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <div id="pixeljs" style="border: 1px black dotted; position: absolute; left: 50%; top: 50%; margin: -300px 0 0 -400px;">
    </div>
</body>
</html>